@import "../components/index.css";
@import "./posts/posts.css";
@import "./projects/projects.css";
@import "./about/about.css";
@import "./p/[slug]/post.css";
@import "./dashboard/dashboard.css";
@import "../lib/utils/tiptap/tiptap.css";


@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --bg-white: #fff;
  --text-color: #3C3B3B;
  --color-main: #063970;
  --color-second: #4D7AA4;
  --color-light: #eeeeee;
  --bg-gradient: linear-gradient(90deg, rgba(255, 255, 255, 0.2) 0%, rgba(6, 57, 112, 0.2) 100%);

  --ff-serif: "Playfair Display", serif;
}

.dark {
 --bg-white:#181818;
 --color-light:#282828;
 --text-color: #e6e6e6;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {

  ul,
  ol {
    list-style: revert;
  }
}

/* COMMON */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*:focus {
  outline: none;
}

html {
  font-size: 53.25%;
}

/* html,
body { */
  /* max-width: 100vw;
  overflow-x: hidden; */
/* } */

body {
  background-color: var(--bg-white);
  color: var(--text-color);
  font-size: 1.5rem;
}

a {
  color: inherit;
  text-decoration: none;
}

/* CONTAINER */
.main-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 80px 1fr 90px;
  height: 100vh;
  /* width: 100%; */
}

/* NAVBAR */
.navbar {
  display: grid;
  grid-template-columns: 300px 1fr 300px;
  border-bottom: 1px solid var(--color-light);
  align-items: center;
  grid-column: 1/-1;
  grid-row: 1/2;
}

.navbar__logo {
  grid-column: 1 / 2;
}

.navbar__menu {
  grid-column: 2 / 3;
  flex: 1;
}

.navbar__right {
  grid-column: 3/  4;
}

/* FOOTER */
.footer {
  grid-column: 1/-1;
  grid-row: 3/-1;
  background: var(--bg-gradient)
}

/* POSTS PAGE */
.posts {
  display: grid;
  grid-template-columns: 20px 1fr 20px;
  grid-template-rows: 150px 1fr;
  grid-column: 1/-1;
  grid-row: 2/3;
}
.posts__header {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  background: var(--bg-gradient);
}

.posts__content {
    grid-column: 2/ 3;
    padding: 6rem 0;
}

/* PROJECTS */
/* .projects {
  display: grid;
  grid-template-columns: 1fr 300px;
  grid-template-rows: 1fr;
}

.projects__content {
  grid-column: 1 / 2;
  grid-row: 1/ -1;
}

.projects__sidebar {
    grid-column: 2 / -1;
    grid-row: 1/ -1;
} */

.projects__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
  row-gap: 6rem;
  grid-auto-flow: row;
}

.projects__list-item::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 95%;
    height: 95%;
    background: var(--color-second);
    -webkit-transform: translate(18px, -5px) rotate(-5deg);
    -ms-transform: translate(18px, -5px) rotate(-5deg);
    transform: translate(18px, -5px) rotate(-5deg);
    border-radius: inherit;
    z-index: -1;
    transition: transform .2s;
}

.projects__list-item:hover::before {
  transform: rotate(0deg);
}

/* TITAP EDITOR */
/* TOOLBAR */

.tiptap__toolbar {
  margin-bottom: 3rem;
  position: sticky;
  top: 0;
  z-index: 10;
}
.tiptap__toolbar-buttons {
  display: flex;
  align-items:center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1.25rem 2.25rem;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
  background-color: var(--color-light);
  color: var(--color-second);
}

.tiptap__toolbar-buttons button {
  padding: 8px; 
  border-radius: 4px;
  transition: background .2s;
  cursor: pointer;
} 

.tiptap__toolbar-buttons button:disabled {
  opacity: .36;
  pointer-events: none;
  cursor: not-allowed;
}

.tiptap__toolbar-buttons button:hover,
.tiptap__toolbar-buttons button.is-active {
  color: #fff;
  background: var(--color-second);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

.tiptap__toolbar-group {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1.2rem;
  gap: 3px;
}

.tiptap__toolbar-group:not(:last-child) {
  border-right: 1px solid #cecece;
}

/* DARKMODE */

.nav-darkmode {
  background: var(--color-light);
  border: 1px solid var(--color-second);
  border-radius: 11px;
  box-shadow: none;
  box-sizing: border-box;
  cursor: pointer;
  color: var(--color-second);
  display: block;
  height: 22px;
  margin: 0;
  outline: none;
  padding: 1px;
  width: 40px;
}

.nav-darkmode span {
  background: var(--bg-white);
  border-radius: 9px;
  box-sizing: border-box;
  display: block;
  padding: 3px;
  margin-left: 0;  
  position: relative;
  transition-property: margin-left, transform;
  transition-duration: .2s;
  transition-timing-function: ease-out;
  width: 18px;
}

.nav-darkmode iconify-icon {
  display: block;
  font-size: 5px;
  height: 1em;
  line-height: 1em;
  width: 1em;
}

.nav-darkmode.dark span {
    margin-left: 100%;
    transform: translateX(-100%);
}

/* ********* Breakpoint ******** */

@media (max-width: 1366px) {
  
}

@media (max-width: 1024px) {
/* PROJECT   */
  .projects__list {
    grid-template-columns: repeat(2, 1fr);
  }

  .projects {
    width: 756px;
  } 

/* POSTS */
.posts {
  grid-template-columns: 1fr 725px 1fr;
}

    /* NAVBAR */
    .navbar {
    display: flex;
      justify-content: space-between;
      align-items: center;
    }
  
    .navbar__right button:nth-child(2) {
      display: none;
    }
}

@media (max-width: 724px) {
/* PROJECT */
  .projects__list {
    grid-template-columns: 1fr;
  }

  .projects {
    width: 456px;
    padding: 4rem 4rem 7rem 4rem;

  }

/* POSTS */
.posts {
    grid-template-columns: 6rem 1fr 6rem;
  }

.posts__content {
  width: 100%;
}

}